<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            
        </div>
    </div>

    <div class="container body-content">
        <div class="jumbotron">
    <h1>Fantasy Football</h1>
    <p class="lead">Log in to Fantasy Football</p>
    
   
    <!-- Start FaceBook Login -->
    <script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '961775267197426',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/team";
         }, 10);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>
<p>
    <button>
         

          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
<a href='javascript:sendTokenToServer()'>Login with Facebook</a>

</fb:login-button>


        </button>   
        </p> 
        <!-- End FaceBook Login -->

<!--AMAZON SIGN IN -->
<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('amzn1.application-oa2-client.04b850e05fcf426b8589fd2161bcab37');
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);

</script>
<a href="#" id="LoginWithAmazon">
  <img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156" height="32" />
</a>
<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile',response_type : 'code' };
    amazon.Login.authorize(options,  function (response) {
      if (response.error){
        alert('oauth error' + response.error);
        return;
      }
      if (response['code']){
        // Hide the sign-in button now that the user is authorized
        $('#LoginWithAmazon').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
        type: 'POST',
        url: '/amazonconnect?state={{STATE}}',
        processData: false,
        data: response['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/team";
         }, 10);
        
        }
        else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
        } 
      });}});
    return false;
  };

</script>

<!--END AMAZON SIGN IN -->

       
       
</div>
        <hr />
        <footer>
            <p>&copy; {{ year }} - FantasyFootball</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>


